Optimize the Ed25519 implementation

Follow up to #215.

Over 1000 runs with dalek on release, I locally observe scalar multiplication taking 268ms. Since we use the prime-order subgroup of Ed25519, we must perform a scalar multiplication on each group element we receive. Alternatively, instead of requiring group elements be prime order when received, we can clear their torsion in just 6ms (~2% of the time).

The naive way to update FROST to this would be with the following definitions for Ed25519:

```md
  - SerializeElement: Implemented as specified in {{!RFC8032, Section 5.1.2}}.
  - DeserializeElement: Implemented as specified in {{!RFC8032, Section 5.1.3}}.
    Additionally, this function validates that the resulting element is not the group
    identity element and is in the prime-order subgroup. The latter check can
    be implemented by multiplying the resulting point by the order of the group and
    checking that the result is the identity element.
  - SerializeScalar: Implemented by outputting the little-endian 32-byte encoding of
    the Scalar value.
  - DeserializeScalar: Implemented by attempting to deserialize a Scalar from a 32-byte
    string. This function can fail if the input does not represent a Scalar between
    the value 0 and `G.Order() - 1`.
```

modified to

```md
  - SerializeElement: Implemented as specified in {{!RFC8032, Section 5.1.2}}, after first
    multiplying the element by the multiplicative inverse of the cofactor (8).
  - DeserializeElement: Implemented as specified in {{!RFC8032, Section 5.1.3}}.
    Additionally, this function multiplies the element by the cofactor (8) before validating
    that the resulting element is not the group identity element.
  - SerializeScalar: Implemented by outputting the little-endian 32-byte encoding of
    the Scalar value.
  - DeserializeScalar: Implemented by attempting to deserialize a Scalar from a 32-byte
    string, failing if the input does not represent a Scalar between the value 0 and
    `G.Order() - 1`.
```

Please note this as insufficient as it will not produce valid signatures. The signature produced must have its nonce multiplied by the cofactor/never inverted, yet I care about discussing this theory right now than presenting a fully complete patch.

Pros:
- During signing, each signer performs two inversions on their nonces (considered with a weight of 50), and then performs cofactor multiplications (efficient by being defined as three additions) for t signers (considered with a weight of 1). This produces a cost of `2(50) + 2(1)t`. The current scheme has a cost of `2(50)t` due to how checking for the presence of torsion is done.

Cons:
- Not RFC8032 compliant, yet potentially still suitably compliant as it's solely extending with pre/post-ops when FROST already requires a scalarmul.
- We also need another function for SerializeElement which doesn't perform the inverse multiplication to produce signatures.
- Additional complexity in general.

It may be further beneficial, instead of modifying Serialize/Deserialize, to make cofactor a native property of the FROST algorithm. This would be more expansive than Ed25519 alone and not require an additional function. It would, however, increase complexity and remove the simple statement a prime-order group is required.

cc @chris-wood, who helped review the above cited PR and merged it

We are happy to take a PR towards this optimization but it is not a priority for the draft editors at the moment. 

After #290, I'm tempted to submit a PR on this since it seems torsion is still an active point of discussion requiring work.

The optimal solution, in my opinion, is:
- Promotion of cofactor to a curve property
- SerializeElement being * inv cofactor, serialize
- DeserializeElement being deserialize, * cofactor, not identity
- The addition of SerializeSignatureElement for producing the final signature, compatible with RFC8032 and other existing schemes

@chelseakomlo said a PR on this work will be accepted and I'll try to have one by tomorrow. This will hopefully close out all discussions on torsion checking/clearing and provide the best overall performance, though yes, it's a larger change than I would've hoped to make.

Alternatively, torsion clears can be removed from the RFC as irrelevant, and torsion checks can be properly noted. The former are present, when they're unnecessary under a prime-order construction, and the latter do not seem to be (though that should be resolvable without too much trouble, as an alternative to my soon-to-be PR).

@kayabaNerve if you don't mind please wait while we discuss this (I don't want to risk wasting your time). I think the main reason we close this is because we want to compatible with RFC 8032, and torsion-clearing won't be

... yes, it will be. I fully understand that requirement and have incorporated it into my work.

https://github.com/cfrg/draft-irtf-cfrg-frost/commit/ad3309f5fc4198bda84c63d5b14dd1e4490c5ce1 for the commit editing the draft alone. The entire FROST process is done with SerializePrimeOrderElement and DeserializePrimeOrderElement. The produced signatures use SerializeElement however. This means the signatures are RFC 8032 compliant.