Review feedback from Paul Bottinelli 

1.  Introduction

	* "[RFC8032]" is only referred to as such (namely, by reference to the RFC), and never as Edwards-Curve Digital Signature Algorithm (EdDSA), which could help readers. In comparison, the Ristretto specification states "Curve25519 [RFC7748]" when talking about "[RFC7748]" for the first time.

2.  Conventions and Definitions

	* "len(l): Outputs the length of input list l, e.g., len([1,2,3]) = 3)." -> There's an extra closing parenthesis at the end. Also consider changing to "len(l): Outputs the length of *the* list ..." (i.e., dropping "input" and adding "the") for consistency with the other bullet points.

3.1.  Prime-Order Group

	* "element addition or scalar addition, depending on types of the" -> "element addition or scalar addition, depending on *the* type of the"; The type being pluralized make it sounds like the operands may be of different types, in my opinion.

	* "equivalent to the repeated application of the group operation B with" -> "equivalent to the repeated application of the group operation *on* B with"

	* "addition, negation, and equality comparisons can be efficiently" -> either pluralize addition, negation, or change "comparisons" to "comparison".

	* Consider adding a comma after i.e. in "(i.e. p)" and "(i.e.  I)" for consistency with the rest of the document. Also, there's an extra whitespace in the latter.

	* "ScalarMult(A, k): Output" -> "ScalarMult(A, k): Outputs"

	* "ScalarBaseMult(k): Output" -> "ScalarBaseMult(k): Outputs"

	* "raise an error if deserialization fails or A is the identity" -> "raise an error if deserialization fails or *if* A is the identity"

4.  Helper Functions

	* "Signature binding Section 4.4, group commitment Section 4.5, and challenge computation Section 4.6." -> should these have their dedicated bullet points?

	* "These sections describes these operations in more detail." -> "describes" should be "describe". Also, nitpicking, but the repetition of "these" could be avoided by writing "The following sections describe".

4.1.  Nonce generation

	* Why are the Inputs "- secret, a Scalar" on a new line and preceded by a hyphen, while the Outputs are on the same line: "Outputs: nonce, a Scalar"?
		This also applies to the other algorithms in that subsection, e.g., "4.2.1.  Evaluation of a polynomial". Consider making these uniform throughout the document.


4.2.  Polynomial Operations

	* "A polynomial of maximum degree t+1 is represented as a list of t coefficients" shouldn't it be the reverse? Namely, "A polynomial of maximum degree t is represented as a list of t+1 coefficients". For example, a polynomial of degree 2 (quadratic) could be f(x) = x^2 + x + 1, which has 2 + 1 = 3 coefficients.

4.3.  List Operations
	
	* "list of participant commitments into a bytestring for use in the" -> replace with "byte string" to be consistent with the rest of the document

	* In the function "binding_factor_for_participant(binding_factor_list, identifier):", is the requirement that "This list MUST be sorted in ascending order by participant identifier." Is this really necessary for that particular algorithm?

4.5.  Group Commitment Computation

	* "binding_factor_list = [(i, binding_factor), ...], a list of (identifier, Scalar) tuples representing the binding factor Scalar for the given identifier. This list MUST be sorted in ascending order by identifier." -> again, it doesn't seem necessary for this specific list to be sorted.

5.1.  Round One - Commitment

	* Just observing that now, Inputs and Outputs are consistent (single line and no hyphen since there's one I/O per line). I would suggest modifying some algorithms from Sec 4 to follow that approach, where applicable.

5.2.  Round Two - Signature Share Generation

	* "input messages are also required to also perform relevant" -> repetition of "also", delete one.

	* "identifier, Identifier i of the participant. Note identifier will never equal 0." Two comments on that line: 
		1. "Identifier" does not seem to be capitalized previously, and 
		2. "Note identifier will never equal 0." is slightly unclear. Could this be replaced by one of the normative key words from RFC2119, such as "identifier SHALL NOT equal 0"?

5.3.  Signature Share Verification and Aggregation

	* "identifier, Identifier i of the participant. Note: identifier MUST never equal 0." similarly to the previous comment, "Identifier" should probably be lowercase. Also, the Note is slightly more formal then in 5.2.; consider making them the same.
	
	* "generated in round one from the ith participant" I am noticing now that "ith" is also sometimes spelled "i-th" in this document. I personally prefer the latter and would suggest performing a search and replace over the entire text.
	
	* "commitment will be with respect to a different signing set than the the aggregated response." -> remove the superfluous "the".

6.  Ciphersuites

	* "The RECOMMENDED ciphersuite is (ristretto255, SHA-512) Section 6.2." Is there a word missing here, such as "The RECOMMENDED ciphersuite is (ristretto255, SHA-512) *as described in* Section 6.2."

	* "these functions are described for each the ciphersuites below." -> "for each *of* the"

6.1.  FROST(Ed25519, SHA-512)

	* "Order():" -> Missing period at the end of that statement. This applies to all "Order():" descriptions. Note that this may be done on purpose to avoid confusion when copy/pasting the value, in which case this comment may be disregarded.


6.4.  FROST(P-256, SHA-256)

	* "yielding a 33 byte output.  Additionally, this function" -> should "33 byte" be hyphenated ("33-byte")? 

	* "deserialize a 33 byte input string to a public key using the" -> again, should "33 bytes" be hyphenated? I think most of the document is consistent otherwise. Consider performing a document-wide search and replace.

	* At the end of the "DeserializeElement(buf):" description, it says "If these checks fail, deserialization returns an error." Interestingly, this is not specified in such details in other instances of "DeserializeElement()". For example, the previous instance states "this function *validates* that the resulting element is not the group identity element and is in the prime-order subgroup", but it does not say that the function should return an error. Similarly, for the different "DeserializeScalar()" functions, the phrasing "This function can fail if the" is used in all ciphersuite examples. Would it make sense to say that it *does* fail and returns an error?

7.  Security Considerations

	* "unforgeability assuming at most (MIN_PARTICIPANTS-1) corrupted" why is "MIN_PARTICIPANTS-1" in parentheses?

	* "Existential Unforgeability Under Chosen Message Attack (EUF-CMA) attacks," I think the second "attacks" could be dropped, but I would understand wanting to keep it.

	* "Post quantum security." consider hyphenating "Post-quantum". 

7.4.  Input Message Hashing

	* "security level commensurate with the security in inherent to the" -> delete "in"

	* "H(contextString \|\| "pre-hash" \|\| m)." -> why are the "|" symbols escaped in this case?
