FROST(P-256, SHA-256) and FROST(secp256k1, SHA-256) feedback

From @pornin:

> FROST(P-256, SHA-256)

    SEC1 rules formally describe point encodings of various lengths.
    Specifically, for curve P-256 (or secp256k1), you can get the
    following lengths:

      - identity point: 1 byte
      - non-identity point, compressed format: 33 bytes
      - non-identity point, uncompressed or hybrid format: 65 bytes

    Since the FROST draft mandates a fixed serialization length in
    general, the text should specify that for this ciphersuite, points
    should always be encoded over exactly 33 bytes. This would have the
    side effects of rejected uncompressed/hybrid formats, and also the
    identity point (with SEC1 rules, no 33-byte encoding can possibly be
    decoded as the identity point).

    It might be noted that the compressed format was long rumoured to be
    covered by a Certicom patent, so that some libraries don't implement
    it. In the Internet/PKIX world (RFC 5480, section 2.2), uncompressed
    format is the rule, with compressed format being allowed to be
    supported but not mandatory (so nobody used the compressed format in
    their X.509 certificates, since that would fail to work with some
    implementations). It is in the nature of patent law that absolutely
    no guarantee whatsoever can be obtained about them, even after
    litigation and an explicit ruling, which did not happen; but the
    usual assertion is that such patents, if they existed at all, should
    have expired by now. Of course, using the uncompressed format makes
    keys and signatures substantially larger, so there are tangible
    benefits to sticking to the compressed format; but it should be
    understood that some existing libraries that implement P-256 might
    not be up to the task.

    H1, H2 and H3 are defined to use "hash_to_field from
    [HASH-TO-CURVE], Section 5.3 using L = 48, expand_message_xmd with
    SHA-256, DST = contextString || "rho", and prime modulus equal to
    Order()." This is a slightly incomplete description, because:

      - hash_to_field() is actually defined in section 5.2 of the
        hash-to-curve draft, not 5.3 (though it uses expand_message(),
        which calls expand_message_xmd(), which is in section 5.3.1).
      - hash_to_field() expects a total of 6 parameters and 2 inputs.
        Here, one hould understand that the target field is the
        scalar field (of order p, and extension degree 1); the number
        of bytes L (again an overload of the notation "L"!) is meant
        to be 48 (normally it is inferred from the target field size
        and a "security parameter" k), and exactly one field element
        is expected to be produced from each call to hash_to_field().

    Also, the hash-to-curve draft defines and uses hash_to_field() to
    produce elements in the base field of some elliptic curve, which is
    NOT the case here: in FROST, this is used to produce elements in the
    scalar field. This may be worth mentioning explicitly (i.e. the
    hash_to_field() implementation of a hash_to_curve() function for
    P-256 cannot be reused unchanged, it is not the same target field).